<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FurnitureRentalDb"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=FurnitureRental;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>